@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../others/Ez4zJbsGr2BgXcNUWBVgEOuNSblOyuwHJ2bf__1M4cI.eot)/*tpa=https://fonts.gstatic.com/s/cabincondensed/v11/Ez4zJbsGr2BgXcNUWBVgEOuNSblOyuwHJ2bf__1M4cI.eot*/;
}
